DB_URI="mongodb://admin:admin@mongo:27017/yodol?authSource=admin"
DB_NAME="yodol"
DB_USER_NAME="admin"
DB_USER_PASSWORD="admin"
REDIS_HOST="redis"
REDIS_PORT=6379
REDIS_DB_NUMBER=1
REDIS_PING_INTERVAL=20000
REDIS_NAMESPACE="yodol"
BOT_TOKEN="asjdblajdblajsbdlajdblaksjbdaksjb"
